{% extends './base.html' %}
{% load static %}

{% block title %}VOGRAPH{% endblock %}

{% block page_content %}
<div class="main-content">
    <h1 class="text-uppercase text-center">Авторы</h1>
    <section>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-6 col-sm-12">
                    <img src="{% static 'img/authors_1.jpg' %}" alt="story">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3>Александр Оболонков</h3>
                    <a href="https://github.com/AlexanderObolonkov">Профиль на GitHub</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-6 col-sm-12">
                    <img src="{% static 'img/authors_2.jpg' %}" alt="story">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3>Кирилл Гайкин</h3>
                    <a href="https://github.com/GovardFilipsovich">Профиль на GitHub</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-6 col-sm-12">
                    <img src="{% static 'img/authors_3.jpg' %}" alt="story">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3>Антон Веселов</h3>
                    <a href="https://github.com/kartofanChik22">Профиль на GitHub</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}