{% extends './base.html' %}
{% load static %}

{% block title %}Обход в ширину{% endblock %}

{% block page_content %}
    <div class="main-content">
        <div class="container">
            <section>
                <div class="main-content">
                    <div class="row align-items-start">
                        <div class="col-lg-8 col-sm-12">
                            {% include './pvis_graph_file.html' %}
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <form method="post" action="{% url 'bfs_method' %}">
                                <section class="method_section">
                                    {% csrf_token %}
                                    <h4>Ввод</h4>
                                    <label>
                                            <textarea class="graph-input" name="input_graph" cols="10"
						rows="7">{{graph_str}}</textarea>
                                        </label>
                                        <button name="value" value="visualize" type="submit" class="btn btn-outline-primary">
                                            Визуализировать
                                        </button>
                                        <button name="value" value="decide" type="submit" class="btn btn-outline-primary">
                                            Решить
                                        </button>
                                    </form>
                                </div>
                            </section>
                            <section class="method_section">
                                <h4>Случайно</h4>
                                <button type="button" class="btn btn-outline-primary">
                                    Создать случайный граф
                                </button>
                            </section>
                            <section class="method_section">
                                <h4>Загрузить</h4>
                                <button type="button" class="btn btn-outline-primary">
                                    Загрузить граф
                                </button>
                            </section>
                                                      rows="7"></textarea>
                                    </label>
                                    <button name="value" value="visualize" type="submit"
                                            class="btn btn-outline-primary">
                                        Визуализировать
                                    </button>
                                    <button name="value" value="decide" type="submit" class="btn btn-outline-primary">
                                        Решить
                                    </button>
                                </section>
                                <section class="method_section">
                                    <h4>Случайно</h4>
                                    <button name="value" value="generate" type="submit" class="btn btn-outline-primary">
                                        Создать случайный граф
                                    </button>
                                </section>
                                <section class="method_section">
                                    <h4>Загрузить</h4>
                                    <button name="value" value="load" type="submit" class="btn btn-outline-primary">
                                        Загрузить граф
                                    </button>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
