{% extends './method.html' %}

{% load static %}
{% block title %}Метод обхода в ширину{% endblock %}
{% block method_title %}Метод обхода в ширину{% endblock %}

{% block method_url %}{% url 'bfs_method' %}{% endblock %}

{% block method_input_tip %}
    <p>
        Ввод графа осуществляется таким образом:<br>
        n1 n2<br>
        n2 n3<br>
        ...<br>
        где n — вершина графа
    </p>
    <p>
        Файл загружается в формате csv следующего формата:<br>
        n1,n2<br>
        n2,n3<br>
        ...<br>
        где n — вершина графа
    </p>
{% endblock %}

{% block about_method %}
    <h1 class="text-uppercase text-center">О методе обхода в ширину</h1>
    <div class="text-left method_group">
        <p>
            <b>Остовное дерево</b> - ациклический связный подграф данного связного неориентированного графа, в который
            входят все его вершины.
        </p>
        <p>
            Алгоритм:
        <ol>
            <li>Добавим в очередь начальный узел</li>
            <li>Возьмем первый узел из очереди</li>
            <li>Пометим его пройденным</li>
            <li>Добавим в очередь всех его непомеченных соседей</li>
            <li>Соединим текущих соседей с предыдущим узлом последовательно</li>
            <li>Повторить пункты 2-5 пока очередь не окажется пуста</li>
        </ol>
        <p>Пример работы алгоритма:</p>
        <p>Возьмем граф из 5 узлов</p>
        <p>Тогда работа алгоритма выглядит так</p>
        <ol>
            <li>Назначаем первым узел 1</li>
            <li>Берем соседи узла 1: 2, 5</li>
            <li>Добавляем их в очередь, соединяем ребрами с узлом 1, удаляем из очереди узел 1</li>
            <li>Берем соседей узла 2: 4, 3</li>
            <li>Добавляем их в очередь, соединяем ребрами с узлом 2</li>
            <li>Удаляем из очереди 2.</li>
            <li>У остальных узлов все соседи уже помеченные, потому их в очередь не добавляем. Очередь пуста</li>
        </ol>
    </div>

    <div class="row method_group">
        <img class="bfs_img" src="{% static 'img/bfs_method.svg' %}" alt="breadth-first-method">
    </div>

{% endblock %}