{% extends './method.html' %}

{% load static %}
{% block title %}Метод обхода в глубину{% endblock %}
{% block method_title %}Метод обхода в глубину{% endblock %}

{% block method_url %}{% url 'dfs_method' %}{% endblock %}

{% block method_input_tip %}
    <p>
        Ввод графа осуществляется таким образом:<br>
        n1 n2<br>
        n2 n3<br>
        ...<br>
        где n — вершина графа, <br>
	причем n1 - его стартовая точка
    </p>
    <p>
        Файл загружается в формате csv следующего формата:<br>
        n1,n2<br>
        n2,n3<br>
        ...<br>
        где n — вершина графа, <br>
	причем n1 - его стартовая точка
    </p>
{% endblock %}

{% block about_method %}
    <h1 class="text-uppercase text-center">О методе обхода в глубину</h1>
    <div class="text-left method_group">
        <p>
            Остовное дерево графа — ациклический связный подграф данного связного неориентированного графа, в который
            входят
            все его вершины.
        </p>
        <p>
            “Поиск в глубину” или “обход в глубину” — это рекурсивный алгоритм по поиску всех вершин графа или дерева.
            Обход
            подразумевает под собой посещение всех вершин графа.
        </p>
        <p>
            Алгоритм «поиска в глубину» для данной задачи будет работать следующим образом:
        </p>
        <ol>
            <li>Добавить в список посещенных заданный по условию узел</li>
            <li>Найти всех его соседей</li>
            <li>Добавить первого найденного соседа в список посещенных, если он еще туда не добавлен</li>
            <li>Выполнить первые три пункта уже для соседа</li>
        </ol>
        <p>
            Выполнение данных действий происходит до того момента, пока у последнего добавленного в список посещенных
            узла
            не будет доступных соседей (все добавлены в список посещенных). Тогда алгоритм возвращается на уровень вверх
            и
            проверяет соседей там. Если доступные соседи есть, тогда выполняются действия из списка. Если их нет, то
            алгоритм поднимается еще на уровень вверх и осуществляет все вышеперечисленные действия там. Алгоритм
            выполняется до того момента, пока все узлы не будут добавлены в список посещенных.
        </p>
        <p>
            В результате, если во время выполнения алгоритма сохранять пройденные ребра, получится остовное дерево, так
            как
            алгоритм избегает циклов.
        </p>
    </div>
    <div class="example method_group">
        {#        <h3 class="text-uppercase text-left">Пример</h3>#}
        <div class="row method_group">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/dfs_1.png' %}" alt="depth-first-approach-1">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Найти для заданного графа остовное дерево алгоритмом поиска в глубину. За точку начала обхода взять
                    узел 1.
                </p>
            </div>
        </div>
        <div class="row method_group">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/dfs_2.png' %}" alt="depth-first-approach-2">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Добавить в список посещенных точку начала обхода (узел 1). Найти всех соседей этого узла. В данном
                    случае это узлы 2 и 3. На рисунке посещенные обозначены красным цветом, соседи – зеленым.
                </p>
            </div>
        </div>
        <div class="row method_group">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/dfs_3.png' %}" alt="depth-first-approach-3">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Поскольку узел 2 еще не посещен, то узел 2 добавить в посещенные, а ребро между узлом 1 и 2 – в
                    остовное дерево (синий цвет). Находим соседей для узла 2. Это узлы 3 и 4.
                </p>
            </div>
        </div>
        <div class="row method_group">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/dfs_4.png' %}" alt="depth-first-approach-4">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Узел 3 не посещен, поэтому добавить его в список посещенных, а ребро между узлами 2 и 3 - в остовное
                    дерево.
                </p>
            </div>
        </div>
        <div class="row method_group">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/dfs_5.png' %}" alt="depth-first-approach-5">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Все соседи узла 3 добавлены в список посещенных, поэтому надо возвратиться к узлу 2. У него есть
                    непосещенный сосед – узел 4. Добавить его в список посещенных, а ребро между узлами 2 и 4 – в
                    остовное дерево.
                </p>
                <p>
                    Все узлы посещены, а значит остовное дерево сформировано.
                    Полученное остовное дерево является одним из вариантов его построения.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
