{% extends './base.html' %}
{% load static %}

{% block title %}COFFEE HOUSE{% endblock %}

{% block page_content %}

    <div class="main-content">

        <section class="story-content">
            <div class="container">
                <h1 class="text-uppercase text-center">Story</h1>
                <div class="row align-items-start">
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static 'img/story.png' %}" alt="story">
                    </div>
                    <div class="col-lg-6 col-sm-12 text-left">
                        <p>
                            Граф — математическая абстракция реальной системы любой природы, объекты которой обладают
                            парными связями. Граф как математический объект есть совокупность двух множеств — множества
                            самих объектов, называемого множеством вершин, и множества их парных связей, называемого
                            множеством рёбер. Элемент множества рёбер есть пара элементов множества вершин.
                        </p>
                        <p>
                            Графы находят широкое применение в современной науке и технике. Они используются и в
                            естественных науках (физике и химии) и в социальных науках (например, социологии), но
                            наибольших масштабов применение графов получило в информатике и сетевых технологиях.
                        </p>
                        <p>
                            В качестве простейшего примера из жизни можно привести схему перелётов определённой
                            авиакомпании, которая моделируется графом, где вершинами графа являются города, а рёбрами —
                            рейсы, соединяющие пары городов. Дерево каталогов в компьютере также является графом: диски,
                            папки и файлы являются вершинами, а рёбра показывают вложенность файлов и папок в папки и
                            диски.
                        </p>
                        <p>
                            <a href="https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D1%84_(%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0)">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}