{% extends './base.html' %}
{% load static %}

{% block title %}COFFEE HOUSE{% endblock %}

{% block page_content %}

    <div class="main-content">

        <section class="story-content">
            <div class="container">
                <h1 class="text-uppercase text-center">Story</h1>
                <div class="row align-items-start">
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static 'img/story.png' %}" alt="story">
                    </div>
                    <div class="col-lg-6 col-sm-12 text-left">
                        <p>Нам ничего не известно о самых первых любителях кофе, но мы почти наверняка знаем, что жили
                            они в Эфиопии. Упоминание о напитке "баншам" - а по-видимому, это и есть кофе - встречаются
                            в арабских исторических документах, относящихся к 900-1000 гг. Помимо свойств этого напитка,
                            полезных для желудка, конечностей, кожи, древние авторы отмечали его "замечательный запах,
                            проникающий во все тело". Lorem ipsum dolor sit amet consectetur adipisicing elit. At quod
                            natus explicabo illo eaque rerum dignissimos provident veniam? Tempore aliquam vel, dolorum
                            nemo earum vitae omnis illo. Similique, culpa aliquam.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}