{% extends './method.html' %}

{% load static %}

{% block title %}Метод Краскала{% endblock %}
{% block method_title %}Метод Краскала{% endblock %}

{% block method_url %}{% url 'kruskal' %}{% endblock %}

{% block about_method %}
    <h1 class="text-uppercase text-center">О методе Краскала</h1>
    <div class="row method_group">
        <div class="col-lg-4 col-sm-12">
            <img class="kruskal_img" src="{% static 'img/kruskal1.png' %}" alt="story">
        </div>
        <div class="col-lg-4 col-sm-12">
            <img class="kruskal_img" src="{% static 'img/kruskal2.png' %}" alt="story">
        </div>
        <div class="col-lg-4 col-sm-12">
            <img class="kruskal_img" src="{% static 'img/kruskal3.png' %}" alt="story">
        </div>
    </div>
    <div class="text-left method_group">
        <p>
            Дан неориентированный взвешенный связный граф. Необходимо выбрать в нем подграф,
            являющийся деревом, содержащий все вершины графа, имеющий минимальную сумму всех ребер,
            то есть минимальное остовное дерево. Интерпретировать эту задачу можно так: есть
            некоторое количество городов, между которыми можно проложить дороги различной стоимости
            (протяженности). Необходимо выбрать набор дорог, соединяющий все города, минимальной
            суммарной стоимости.
        </p>
        <p>
            В алгоритме Краскала весь единый список ребер упорядочивается по неубыванию весов ребра.
            Далее ребра перебираются от ребер с меньшим весом к большему, и очередное ребро
            добавляется к каркасу, если оно не образовывает цикла с ранее выбранными ребрами,
            образуя изолированную группы (для проверки того, что выбранные ребра не образовывает
            цикл, будем представлять граф, как несколько изолированных групп вершин).
        </p>
        <p>
            Затем соединяем группы вершин через ещё несоединенные рёбра с минимальным весом.
            Результат - остовное дерево данного графа минимальной длины.
        </p>
    </div>
{% endblock %}