{% extends './base.html' %}
{% load static %}



{% block page_content %}
    <div class="container">
        <section>
            <h1 class="text-uppercase text-center">{% block method_title %}{% endblock %}</h1>
            <h5 class="text-center">(<a href="#theory">теоретический материал</a>)</h5>
            <div class="main-content">
                <div class="row align-items-start">
                    <div class="col-lg-8 col-sm-12">
                        {% include './pvis_graph_file.html' %}
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <section class="method_section">
                            <div>
                                <form method="post" enctype="multipart/form-data"
                                      action="{% block method_url %}{% endblock %}">
                                    {% csrf_token %}
                                    <div class="method_group">
                                        <h4>Ввод</h4>
                                        {% if input_error %}
                                            <div class="alert alert-danger">
                                                <strong>Ошибка ввода</strong>
                                            </div>
                                        {% endif %}
                                        <label>
                                            <textarea class="graph-input" name="input_graph" cols="10"
                                                      rows="7">{{ graph_str }}</textarea>
                                        </label>
                                        <div class="span2">
                                            <p>
                                                <button name="value" value="visualize" type="submit"
                                                        class="btn btn-outline-primary custom">
                                                    Визуализировать
                                                </button>
                                            </p>
                                            <p>
                                                <button name="value" value="decide" type="submit"
                                                        class="btn btn-primary custom">
                                                    Решить
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="method_group">
                                        <h4>Случайно</h4>
                                        <button type="submit" name="value" value="generate"
                                                class="btn btn-outline-primary custom">
                                            Сгенерировать граф
                                        </button>
                                    </div>
                                    <div class="method_group">
                                        <h4>Загрузить</h4>
                                        <div class="alert alert-danger">
                                            <strong>Ошибка файла</strong>
                                        </div>
                                        <p>
                                            <input type="file" name="file_path"/>
                                        </p>
                                        <p>
                                            <button type="submit" name="value" value="load"
                                                    class="btn btn-outline-primary custom">
                                                Загрузить граф
                                            </button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <div class="container">
                            <section>
                                <div class="method_group">
                                    <div class="mt-5">
                                        {% block method_input_tip %}{% endblock %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="story-content" id="theory">
            <div class="container">
                {% block about_method %}{% endblock %}
            </div>
        </section>

    </div>
{% endblock %}
