{% load static %}
<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4><a href="#">Об авторах</a></h4>
                </div>
                <div class="col-6">
                    <h4 class="float-right">
                        <a href="#">Наверх</a>
                    </h4>
                    Агентство по разработке потрясных сайтов на bootstrap, django... А мы просто любим графы
                </div>
            </div>
        </div>
    </section>
</footer>