{% load static %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            VOGraph
            <img src="{% static 'img/icon.svg' %}" width="50" height="50" class="d-inline-block align-text-bottom"
                 alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'index' %}active{% endif %}"
                       href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'bfs_method' %}active{% endif %}"
                       href="{% url 'bfs_method' %}">Обход в ширину</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'dfs' %}active{% endif %}" href="{% url 'dfs_method' %}">Обход в глубину</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav_bar == 'kruskal' %}active{% endif %}" href="{% url 'kruskal' %}">Алгоритм Краскала</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
